# dependencies
node_modules/
.pnpm-store/

# build output
dist/
.next/
out/
**/public/r/
*.tsbuildinfo

# test
coverage/

# turbo
.turbo/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# env
.env
.env.*
!.env.example

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
